<header class="mb-3">
  <nav class="p-3 navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="nav_container container">
      <a class="navbar-brand" href="{% url 'home' %}">SaveStream<spam class="text-primary-emphasis">z</spam></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a target="_blank" class="nav-link text-primary-emphasis" href="{% url 'info' %}">How to ?</a>
          </li>
          <li class="nav-item">
            <a target="_blank" class="nav-link text-primary-emphasis" href="https://github.com/JanardhanJayanthxhd/">Github</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>